.blockCard{
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 30px;
  margin: 10px;
  word-wrap: break-word;
}
.uncle {
  line-height: 1;
  padding-bottom: 10px;
}

@media (min-width: 992px)  {
  .uncle {
    line-height: 7px;
  }
}
